<!-- your html code here -->
<div class="container bg-light border-bottom border-top p-auto d-flex justify-content-center align-items-center">
  <div class="row">
    <div class="header">
      <div class="col-8 mx-auto my-4 text-center">
        <h6><strong>Contact</strong></h6>
        <p>just send me you contact info we'll take care of you :p</p>
      </div>
    </div>
    <div class="col-6 border mx-auto my-4">
      <form>
        <div class="row">
          <label for="exampleInputEmail1" class="form-label"
            >Email address</label
          >
        </div>
        <div class="mb-4">
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
          />
          <div id="emailHelp" class="form-text">
            We'll never share your email with anyone else.
          </div>
        </div>
        <div class="input-group">
          <textarea
            class="form-control mb-2"
            aria-label="With textarea"
          ></textarea>
        </div>
        <button type="submit" class="btn btn-primary mb-4">Submit</button>
      </form>
    </div>
  </div>
</div>
