<!-- your html code here -->
<div class="container bg-light border-bottom border-top p-auto d-flex justify-content-center align-items-center">
  <div class="row">
    <div class="header">
      <div class="col-8 mx-auto my-4 text-center">
        <h6><strong>Contact</strong></h6>
        <p>just send me you contact info we'll take care of you :p</p>
      </div>
    </div>
    <div class="col-10 border mx-auto my-4">
      <form>
        <div class=" row d-flex mt-3">
          <div class="col-3 d-flex justify-content-end">
            <label for="exampleInputEmail1" class="float-start">Email address</label>
          </div>
          <div class="mb-4 d-flex col-9">
            <input type="email" placeholder="We'll never shared your email" id="exampleInputEmail1"
              aria-describedby="emailHelp" class="w-100" />

          </div>
        </div>
        <div class="row">
          <div class="col-3 d-flex justify-content-end">
            <label for="exampleFormControlTextarea1" class="float-start">Your Message</label>
          </div>
          <div class="col-9">
            <textarea class="mb-2 w-100" aria-label="With textarea"></textarea>
          </div>
        </div>
        <button type="submit" class="btn btn-primary mb-4">Submit</button>
      </form>
    </div>
  </div>
</div>