<!-- your html code here -->
<div class="container-fluid">
    <div class="header">
        <strong>Protafoilio</strong>
        <p>domiect to see if it works</p>
    </div>
    <div class="row d-flex object-fir-conatin">
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img src="..." class="assets/img/big-project-image.png" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card’s content.</p>

                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img src="..." class="assets/img/big-project-image.png" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card’s content.</p>

                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img src="..." class="assets/img/big-project-image.png" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card’s content.</p>

                </div>
            </div>
        </div>

    </div>
</div>