<!-- your html code here -->
<div class="container bg-light border-top border-bottom py-5">
    <div class="header">
        <h2><strong>Protafolio</strong></h2>
        <p>domiect to see if it works a lot of staff goes in here but im just filling up space with nonsese Got ya! wow.
            you still here i appretiate the attention questionable life choice thansk for reading</p>
    </div>
    <div class="row d-flex">
        <div class="col-4">
            <div class="card">
                <img src="assets/img/big-project-image.png" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-primary">Project name</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card’s content.</p>

                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <img src="assets/img/big-project-image.png" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-primary">Project name</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card’s content.</p>

                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <img src="assets/img/big-project-image.png" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-primary">Project name</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card’s content.</p>

                </div>
            </div>
        </div>

    </div>
</div>