<!-- your html code here -->

<div class="container bg-light">
    <div class="row d-flex ">
        <div class="col-4 text-center">
            <img src="assets/img/2.jpg" class="rounded-circle h-75 p-4" alt="...">
        </div>
        <div class="col-8 p-4">
            <h1><strong>The second heading</strong></h1>
            <p>The second Heading is pretty cool too.
                Donec somethingwrtrn in black color idk standard dummy text ever since the 1500s, when an unknown
                printer took a galley of type and scrambled it to make a type specimen book. It has survived not only
                five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was
                popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more
                recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
    </div>
</div>
